#color-div {
   display: inline-block;
   width: 100px;
   height: 100px;
   background-color:rgba(25, 44, 210, 0.3);
}

#color-div2 {
   display: inline-block;
   width: 100px;
   height: 100px;
   background-color:#79178d;
}


html {
   background-color: #d3d3ad;
   background-image: url("../img/bg.webp");
   background-position: left top;
   background-repeat: repeat-y;
}